/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: min(100%, 700px);
  font-family: var(--second-font), sans-serif;
  background: var(--bg-gradient);
  background-attachment: fixed;
  margin:auto;
}

.header {
  display: grid;
  margin-block-start: 100px;
  background-color: var(--background-color);
  border: 2px solid var(--header-title);
  width: min(100%, 700px);
  justify-items: center;
  
}

.header__logo {
  display: grid;
  gap:20px;
  align-content: center;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--header-title);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  padding-block-start: 120px;
}

.header__subtitle {
  display: flex;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--header-title);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  margin-inline-start: 20px;
  margin-block-start: 25px;
  margin-block-end: 21px;
  gap:10px
}

.theme-menu__button {
  position: relative;
  font-family: var(--font-family), sans-serif;
  color: var(--button-color);
  font-size: 14px;
  background-color: transparent;
  text-transform: uppercase;
  border:0;
  transition: color 0.3s;
  padding: 0;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

.theme-menu__button::after {
  content:'';
  display: block;
  width: 0;
  height: 3%;
  border-bottom: 2px solid var(--header-title);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button[disabled='true'] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button[disabled='true']::before {
  position: absolute;
  content:'▶';
  left: -18px;
  animation: triangle 0.5s ease-in-out  alternate infinite;

}

.content {
  display: grid;
  margin-block-start: 100px;
  width: min(100%, 700px);
  gap: 50px;
}




.card__title {
  font-family: var(--second-family), sans-serif;
  font-weight: var(--weight-title);
  font-variation-settings: 'wght' var(--weight-title);
  color: var(--header-title);
  background-color: var(--background-color);
  border: 2px solid var(--header-title);
  padding-inline-start: 10px;
  padding-block-start: 6px;
  padding-block-end: 4px;
  font-size: 18px;
}

.subtitle {
  display: grid;
  background-color:var(--background-color);
  border: 2px solid var(--header-title);
  padding-left: 23px;
  padding-top: 25px;
  padding-right: 23px;
  padding-bottom: 25px;
  gap: 35px;
}

.card__subtitle {
  font-family: var(--second-family),sans-serif;
  font-weight: var(--weight-subtitle);
  font-variation-settings: 'wght' var( --weight-subtitle);
  font-size: 18px;
  line-height: 119%;
  color:var(--button-color);
}

.container__picture {
  border-left: 2px solid var(--header-title);
  border-right: 2px solid var(--header-title);
  position: relative;
}

.watetmark {
  position: absolute;
  top: 22px;
  right: 10px;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--header-title);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px var(--background-color);

}

@supports ((-webkit-text-stroke: 1px var(--background-color)) or (text-stroke:1px var(--background-color)) ) {
  .watetmark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke:1px var(--background-color);
    text-shadow: none;
  }
}

.card__picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.invert {
  filter: invert(75%);
}

.blur {
  filter: blur(5px);
}

.sepia {
  filter: sepia(90%);
}

.multy {
  filter: saturate(37%) sepia(36%);

}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(90deg) blur(2px) contrast(56%);
}

.rotate {
  filter: hue-rotate(29deg);
}

.button {
  cursor:pointer;
  border: 2px solid var(--header-title);
  background-color: var(--background-color);
  transition: 0.3s ease;
}

.button:focus {
  outline: 0;
}

.like {
  position: relative;
  display: flex;
  width: 130px;
  height: 38px;
  align-items: center;
  justify-content: center;
}


.button:focus-visible {
  box-shadow: 2px 2px 0 var(--header-title);
}

.button::after {
  position: absolute;
  content:'';
  width: 0%;
  height: 0%;
  background-color:var(--header-title);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);

}

.button:hover::after {
  transform: scaleX(1);
  width: 100%;
  height: 100%;
  transform-origin: left;
}

.card__control {
  display: flex;
  justify-content: flex-end;
  height: 38px;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  border:0;
  background-color:transparent;
  transition: 0.3s ease;
  align-items: center;
  padding: 0;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border:2px solid var(--header-title);
}

.button__text {
  mix-blend-mode: difference;
  color:var(--decore-title);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  z-index: 1;
}


.sparks {
  opacity: 0;
}

.core {
  fill: var(--background-color);
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--button-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--button-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill:#ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill:#ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill:#ff0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1 alternate;
  transform-origin: center;
}



.like-icon.is-liked .sparks {
  animation: sparks 0.3s 1 0.3s ease-in alternate;
}


.dialog__box {
  display: grid;
  justify-items: center;
  margin-block-end: 100px;
}

.box__btn{
  position: relative;
  width: 306px;
  height: 80px;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-rows: min-content 1fr;
  row-gap: 8px;
  padding: 12px 0;
  z-index: 0;
}

.floppy-icon {
  color:var(--decore-title);
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
  z-index: 1;
}

dialog[open] {
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  width: min(100%, 351px);
  gap:30px;
  background-color:var(--background-color);
  border:2px solid var(--header-title);
}

dialog::backdrop {
  background-color:#000;
  opacity: 0.75;
}

.icon {
  color:var(--header-title);
  width: 39px;
  height: 39px;
  margin-block-start: 10px;
}

.dialog__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color:var(--header-title);
  width: 207px;
}

.dialog__container {
  display: flex;
  gap:20px;
}

.dialog__btn {
  position: relative;
  display: flex;
  width: min(100%, 293px);
  height: 38px;
  color:var(--header-title);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media (width > 375px) {
  .content {
    margin-block-start: 96px;
  }
  .card__title {
    padding-inline-start: 10px;
    padding-block-start: 5px;
  }

  .subtitle {
    padding-left: 26px;
    padding-top: 32px;
    padding-right: 25px;
    padding-bottom: 25px;
    gap: 25px;
  }
  .watetmark {
    top:  32px;
    right: 25px;
  }
  .header {
    padding-left: 0;
  }
  .header__title {
    padding-block-start: 136px;
  }
  .box__btn {
    width: 335px;
    height: 55px;
    grid-template-columns:min-content 1fr;
    grid-template-rows: 1fr;
    padding:18px 10px 18.5px 17px;
  }

  .floppy-icon {
    width: 21px;
    height: 21px;
    
  }
  
  dialog[open] {

    padding: 30px;
  }

  .dialog__btn {
  }
  .dialog__box {
    margin-inline-start: 0px;
  }
}