/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark {
    --background-color:#000;
    --header-title: #00cc14;
    --button-color: #00cc14;
    --decore-title:#00cc14;
    --weight-title:785;
    --weight-subtitle:465;
    --font-family: "Press Start 2P-Regular", sans-serif;
    --second-family: "Inter-Variable", sans-serif;
    --bg-gradient:repeating-linear-gradient(to right, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    repeating-linear-gradient(to bottom, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    linear-gradient(to bottom, #007f0c 0%, #004306 100%);
}


.theme-light {
    --background-color: #fff;
    --header-title: #000;
    --button-color: #000;
    --decore-title:#fff;
    --weight-title:700;
    --weight-subtitle:400;
    --font-family: "Press Start 2P-Regular", sans-serif;
    --second-family: "Inter-Variable", sans-serif;
    --bg-gradient:repeating-linear-gradient(to right, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
}


@media (prefers-color-scheme: light) {
    .theme-auto{
    --background-color: #fff;
    --header-title: #000;
    --button-color: #000;
    --weight-title:700;
    --weight-subtitle:400;
    --decore-title:#fff;
    --font-family: "Press Start 2P-Regular", sans-serif;
    --second-family: "Inter-Variable", sans-serif;
    --bg-gradient:repeating-linear-gradient(to right, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
}
}

@media (prefers-color-scheme: dark) {
    .theme-auto{
        --background-color: #000;
        --header-title: #00cc14;
        --button-color: #00cc14;
        --decore-title:#00cc14;
        --weight-title:785;
        --weight-subtitle:465;
        --font-family: "Press Start 2P-Regular", sans-serif;
    --second-family: "Inter-Variable", sans-serif;
        --bg-gradient:repeating-linear-gradient(to right, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    repeating-linear-gradient(to bottom, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), 
    linear-gradient(to bottom, #007f0c 0%, #004306 100%);
}
}






